#gallery-template{
  border: 1px solid black;
  background-color: light-gray;
}

#thumbnails{
  border:1px solid gray;
}

.photo {
  margin: 1em;
  padding: .5em;
  border-radius: 5px;
  background-color: lightgray;
  width: 25%;
}







