
#thumbnails{
  margin-left: 10%;
}

.photo {
  margin: 1em;
  padding: .5em;
  border-radius: 5px;
  background-color: lightgray;
  width: 25%;
}


header{
  background: -moz-linear-gradient(top,  rgba(165,165,165,0.65) 0%, rgba(165,165,165,0.43) 34%, rgba(0,0,0,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(165,165,165,0.65)), color-stop(34%,rgba(165,165,165,0.43)), color-stop(100%,rgba(0,0,0,0)));
  background: -webkit-linear-gradient(top,  rgba(165,165,165,0.65) 0%,rgba(165,165,165,0.43) 34%,rgba(0,0,0,0) 100%);

}

#gallery-title{
  display:inline-block;
  float:right;
  margin-right:500px;
  margin-top:1.5em;
  font-family: Raleway;
  font-size: 4em;
  color: #5FB6D2;
}








